@using InterviewRubric.Shared
@page "/"
@inject HttpClient Http
@inject AppState state

<h1>Interview Rubric</h1>

@if (state.RubricQuestions == null)
{
    // TODO: Work out how to move into QuestionSummary
    <p><em>Loading...</em></p>
}
else
{
    <QuestionSummary />
}

    <p>
        Welcome to the Interview Rubric generator
    </p>

@functions {
// TODO: Work out how to move into Shared
protected override async Task OnInitAsync()
{
    if (state.RubricQuestions == null)
    {
        state.SetInitialState(await Http.GetJsonAsync<RubricQuestion[]>("/api/Question/RubricQuestions"));
        StateHasChanged();
    }
}
}
