@using InterviewRubric.Shared
@using System.Linq
@page "/questions"
@inject HttpClient Http
@inject AppState state

<h1>Interview Builder</h1>

@if (state.RubricQuestions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuestionSummary />

    <p>Select your questions</p>

    <h2>Selected</h2>
    <QuestionList Questions=@state.SelectedRubricQuestions
                  UserActionText="Remove" 
                  UserAction=@state.UnselectQuestion/>

    <h2>Unselected</h2>
    <QuestionList Questions=@state.UnselectedRubricQuestions 
                  UserActionText="Add" 
                  UserAction=@state.SelectQuestion />
}

@functions {
protected override void OnInit()
{
    state.OnChange += StateHasChanged;
}
}


