@using InterviewRubric.Shared
@using System.Linq
@page "/interview"
@inject HttpClient Http
@inject AppState state

<h1>Interview Questions</h1>

<p>List of questions to ask during the interview, without expected answers</p>

@if (state.RubricQuestions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuestionSummary />

    <p>Select your questions</p>

    <h2>Selected</h2>
    <QuestionList Questions=@state.SelectedRubricQuestions
                  UserActions=@{ new[] {
                                    new UserAction { Text = "Unselect", Action = state.UnselectQuestion },
                                    new UserAction { Text = "▲", Action = state.MoveUpQuestion },
                                    new UserAction { Text = "▼", Action = state.MoveDownQuestion }
                                }
                  } />
}

@functions {
protected override void OnInit()
{
    state.OnChange += StateHasChanged;
}
}


